body {
  background:lightgrey;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'TimesNewRoman', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'TimesNewRoman',
    monospace;
}

.App {
  border: 5px solid black;
  padding: 2px solid black;

}

.Timer {
  border: 3px solid gold;
  color: gold
}

.Play {
  border: 3px solid gold;
  text-align: center;
  color: gold;
  background: black;
}

.Score {
  border: 5px solid black;
  background: gold;
}

.HiScores {
  border: 5px solid black;
  background: gold;
}

.Top {
  border: 2px solid black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: black;
}

.PlayArea {
  margin: 10px;
  width: 300px;
  height: 200px;
  background: gold;
}
